.projects {

    &__header {
        font-size: 10rem;
        font-family: $header-font;
        text-align: right;
    }

    &__card {

        &:hover {
        transform: rotateY(360deg);
        transition: all 2s;
        }
    }
}